@model Homework_SkillTree.Models.InputViewModel
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Submit", "Home",
    new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="well">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.Category, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(x => x.Category, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Money, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.EditorFor(x => x.Money, new { htmlAttributes = new { placeholder = "金額", @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Money, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Date, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.EditorFor(x => x.Date, new { htmlAttributes = new { placeholder = "日期", @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Description, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.Description, new { placeholder = "備註", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    </div>
}
@Html.Action("ShowRecord")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $("#submit").click(function (e) {
            if (!$('form').valid()) {
                var error = '';
                $(".field-validation-error").each(function (index, domEle) {
                    error += $(domEle).text() + '\n';
                });
                alert(error);
            }
            else {
                $('form').submit();
            }
        });
    });
</script>