@model Homework_SkillTree.Models.RecordViewModel
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home",
    new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="well">
        <div class="form-group">
            @Html.LabelFor(x => x.InputViewModel.Category, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(x => x.InputViewModel.Category, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.InputViewModel.Money, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x=>x.InputViewModel.Money, null, new { placeholder = "金額", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.InputViewModel.Date, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x=>x.InputViewModel.Date, null, new { placeholder = "日期", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x=> x.InputViewModel.Description, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(x=>x.InputViewModel.Description, new { placeholder = "備註", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    </div>
}
@Html.Partial("_ShowRecord", Model.DisplayViewModel.RecordInputViewModels)